/* CSS declarations go here */

html {
	height: 100%;
	width: 100%;
}

body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.content {
    position: relative;
    overflow: auto;
    height: 100%;
    width: 100%; 
}

.thumbWrap {
    display: inline-block;
    margin: 4px;
}

.thumb {
    height: 140px;
    width: 140px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
}
